/*Font Imports*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/*Universal Rules*/
* {
  margin: 0;
  padding: 0;
  border: 0px solid red;
}
body {
  background-color: #131313;
  font-family: "Roboto Mono";
}

/*Title Rules*/
#title {
  color: #c6bba9;
  margin-top: 20vh;
  margin-bottom: 20px;
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
}

/*Box Rules*/
#box {
  display: block;
  margin: 0 auto;
  padding: 2rem 0;
  width: 35rem;

  border: 0.7rem solid #7f7462;
  border-radius: 2rem;
  background-color: #252625;
  color: #f4ead9;
}
#box input {
  width: 20rem;
  display: block;
  margin: 0 auto 1.5rem auto;
  padding: 0.5rem 1rem;

  font-family: "Roboto Mono";
  color: #d3c9b9;
  border-radius: 0.5rem;
  border: 0.4rem solid #7f7462;
  font-size: 1.75rem;
  background-color: #3c3d3c;
  outline: none;
}

#requirements {
  margin: 2rem 2rem;
  font-size: 1.2rem;
}
.requirement-symbol {
  color: #c76159;
}

.rating {
  margin: 0.25rem 1.25rem;
}
